
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>我的发行</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/jquery-ui.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.json.min.js"></script>

    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bignumber.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
    <script src="/js/web3.js"></script>
    <script src="/js/web3-bolck.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
      $(function(){
          if(checkDefaultAccount() <0){
            window.location.href = '/home';
          }

          var total = coindb.getCount();
          total = parseInt(total);
          
          if(total > 0 ){
            var mydata = getWeb3Data("selldata");
            for (var i = 2; i <= total; i++) {
              var d = coindb.coins(i);
              //var coinBalance = coindb.coinBalanceOf("CNY", defaultAccount).toNumber();
              
              if( d[6].trim() == defaultAccount){
                var ename = web3.toAscii(d[3]);
                var tmpname = "";
                for(var y=0; y<ename.length; y++){
                  if(ename.charCodeAt(y) == 0){
                    break;
                  }else{
                    tmpname += ename[y];
                  }
                }
                if(mydata && typeof(mydata[tmpname]) == 'object'){
                  delete mydata.tmpname;
                  delWeb3Data("selldata", tmpname);
                }
                var balance = coindb.coinBalanceOf(tmpname, d[6]).toNumber();
                var sell_string = "<tr><td>"+i+"</td><td>"+ename+"</td><td>"+d[2]+"</td><td>"+balance+"</td><td>"+d[8]/1000+"%</td><td>"+getLocalTime(d[1])+"</td><td>"+getJxType(d[7])+"</td><td>"+d[5]+"</td><td>ok</td></tr>";  
                 $('#selllists').append(sell_string);
              }

            }
            var newstring = "";
            for (k in mydata){
              newstring = "<tr><td>--</td><td>"+k+"</td><td>"+mydata[k]['amount']+"</td><td>--</td><td>"+mydata[k]['rate']/1000+"%</td><td>"+getLocalTime(mydata[k]['end_time'])+"</td><td>"+getJxType(mydata[k]['ratetpl'])+"</td><td>"+mydata[k]['create_note']+"</td><td>penging</td></tr>";  
            }
            $('#selllists').prepend(newstring);
          }
          
        $('#cny_balance').html(coindb.coinBalanceOf("CNY", defaultAccount).toString());
        $('#opaccount').html(defaultAccount);
          
      })
        
        

    </script>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">p2p借贷</a>
        </div> 
        <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript:void(0);">当前账户: <span id="opaccount"></span></a></li>
            <li><a href="#"><button type="button" class="btn btn-sm btn-info" onclick="window.location.href='/home';">切换操作账户</button></a></li>
        </ul>     
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <h4>账户</h4>
          <ul class="nav nav-sidebar">
            <li><a href="/register">在线开户</a></li>
            <li><a href="/check">身份认证</a></li>
            <li class="active"><a href="/myaccount">个人账号</a></li>           
          </ul> 
          <h4>银行</h4>
          <ul class="nav nav-sidebar">
            <li><a href="/bankapply">银行汇款</a></li>
            <li><a href="/bankorder">银行处理</a></li>
          </ul>
          <h4>p2p公司</h4>
          <ul class="nav nav-sidebar">
            <li><a href="/verifyuserinfo">审核用户资料</a></li>
            <li><a href="/verifylist">审核债券发行</a></li>
          </ul>
          <h4>债券</h4>
          <ul class="nav nav-sidebar">
            <li><a href="/apply">申请借贷</a></li>
            <li><a href="/list">债券列表</a></li>
          </ul> 
          <h4>交易</h4>
          <ul class="nav nav-sidebar">
            <li><a href="/tradesell">卖出债券</a></li>
            <li><a href="/tradebuy">买入债券</a></li>        
          </ul>
         </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">我的账号</h1>
          <div class="container-fluid" style="margin:20px 0px; font-size:1.2em">
              人民币余额: <span id="cny_balance"></span>
          </div>          

          <div>
              <!-- Nav tabs -->
              <ul class="nav nav-tabs">
                <li role="presentation"><a href="/mybuy">购买的债券</a></li>
                <li role="presentation" class="active"><a href="/mysell" aria-controls="sell" role="tab" data-toggle="tab">发行的债券</a></li>            
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" id="buy" class="tab-pane">
                   <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>借款编号</th>
                          <th>名称</th>
                          <th>购买金额</th>
                          <th>借款人</th>                        
                          <th>利率</th>
                          <th>还款日期</th>
                          <th>计息方式</th>
                          <th>备注</th>
                          <th>状态</th>             
                        </tr>
                      </thead>
                      <tbody id="buylists">                           
                      </tbody>
                    </table>
                  </div> 

                </div>
                <div role="tabpanel"  id="sell" class="tab-pane active">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>借款编号</th>
                          <th>名称</th>
                          <th>借款金额</th>
                          <th>余额</th>
                          <th>利率</th>
                          <th>还款日期</th>
                          <th>计息方式</th>
                          <th>备注</th>   
                          <th>状态</th>               
                        </tr>
                      </thead>
                      <tbody id="selllists">       
                      </tbody>
                    </table>
                  </div>
                </div>               
              </div>
          </div>
             
        </div>
      </div>
    </div>





</html>
